@model ProyectoFinal_JuegoWiki.Models.Armadura

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Nombre);
}

<div class="contenidoprincipal">
    <div style="width: 90%">
        <h1 style="margin-top:20px; font-size: 60px; margin-right: 20px;">@Html.DisplayFor(model => model.Nombre)</h1>

        <hr class="barraSeparadora" />
    </div>

    <div class="informacionTotal">
        <div style="font-size: 20px; width: 60%;">
            <p>@Html.DisplayFor(model => model.Descripcion)</p>
            <a asp-action="Index">Volver a la lista</a>
        </div>

        <div class="tarjeta" style="display: flex; flex-flow: wrap; align-items: center; justify-content: center; width: 40%; margin-left: 20px;">

            <div class="tarjeta-imagen" style="display:flex; flex-flow:column; align-items:center; justify-content:center;">
                <h1>Armadura</h1>
               @if (User.IsInRole("Administrador") || User.IsInRole("Usuario"))
                {
                    <a asp-action="Edit" asp-route-id="@Model.ArmaduraID">Editar</a>
                }

                <img src="@("~/img/Armaduras/"+Model.Imagen)" asp-append-version="true" style="width:110%;"/>
                <h4>@Html.DisplayNameFor(model => model.Peso) : @Html.DisplayFor(model => model.Peso)</h4>

                <div class="propiedadesObjeto" style="display: flex; flex-flow: wrap; align-items: center; padding: 0px 20px;">

                    <div class="caracteristicas" style="padding: 10px;">

                        @Html.DisplayNameFor(model => model.Vitalidad) :
                        @Html.DisplayFor(model => model.Vitalidad)

                        <br />

                        @Html.DisplayNameFor(model => model.ResFisica) :
                        @Html.DisplayFor(model => model.ResFisica)

                        <br />

                        @Html.DisplayNameFor(model => model.ResMagica) :
                        @Html.DisplayFor(model => model.ResMagica)

                        <br />

                        @Html.DisplayNameFor(model => model.ResFuego) :
                        @Html.DisplayFor(model => model.ResFuego)

                        <br />

                        @Html.DisplayNameFor(model => model.ResRayo) :
                        @Html.DisplayFor(model => model.ResRayo)

                        <br />

                        @Html.DisplayNameFor(model => model.ResSagrado) :
                        @Html.DisplayFor(model => model.ResSagrado)
                    </div>

                </div>

            </div>

        
        </div>

    </div>
</div>